@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar{
    width: 0;
}
#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}
#scrollpath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}
@keyframes animate{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}
#progressbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}
#progressbar::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}
/*------------------------------------------*/
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #ffffff;
    transition: all 0.5s ease;
}
body.active{
    background: #121212;
    transition: all 0.5s ease;
}
body.active p, h1,h2{
    color: #ffffff;
}
.barra_lateral{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 85px;
    background: #0A0A2A;
    padding: 6px 14px;
    transition: all 0.5s ease;
}
.barra_lateral.active{
    width: 240px;
}
body.active .barra_lateral{
    border-right: solid 5px #1d1b31;
    background: #1f1f1f;
}
.Logo{
    color: #ffffff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}
.barra_lateral.active .Logo{
    opacity: 1;
    pointer-events: none;
    transition: all 0.2s ease;
}
.Logo_Name{
    font-size: 25px;
    margin-right: auto;
    margin-left: auto;
}
#Menu{
    position: absolute;
    color: #ffffff;
    left: 0%;
    top: 6px;
    cursor: pointer;
    font-size: 30px;
    height: 50px;
    z-index: 99;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(+25%);
    background: #0A0A2A;
    transition: all 0.45s ease;
}
.barra_lateral.active #Menu{
    left: 90%;
}
body.active .barra_lateral.active #Menu{
    background: #1f1f1f;
    border-right: solid 5px #1d1b31;
}
body.active #Menu{
    background: #1f1f1f;
}
.barra_lateral ul{
    z-index: 90;
    position: relative;
    top: -58%;
    left: -20%;
    margin-top: 20px;
    transition: all 0.4s ease;
    opacity: 0;
}
.barra_lateral.active ul{
    transition: all 0.5s ease;
    opacity: 1;
    top: 0%;
    left: 0%;
}
.barra_lateral ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    transition: all 0.5s ease;
}
.barra_lateral ul li.active{
    border-bottom: solid 1.5px #ffffff;
}
.barra_lateral.active ul li.active{
    border-bottom: solid 1.5px #9f9f9f;
}
.barra_lateral ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border: solid 2px #000;
    outline: none;
    background: #1d1b31;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    color: #ffffff;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s ease;
}
.barra_lateral.active ul li input{
    transition: all 0.5s ease;
    opacity: 1;
    pointer-events: all;
    border-bottom: solid 1px #ffffff;
}
body.active .barra_lateral.active ul li input{
    transition: all 0.5s ease;
    border: solid 4px #1d1b31;
}
.barra_lateral ul li input, .barra_lateral.active ul li input{
    background: #000;
}
.Nombre_Links{
    opacity: 0;
    transition: all 0.05s ease;
}
.barra_lateral.active .Nombre_Links{
    pointer-events: none;
    opacity: 1;
    transition: all 0.05s ease;
}
.barra_lateral ul li a{
    color: #ffffff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.05s ease;
    pointer-events: none;
    white-space: nowrap;
}
.barra_lateral.active ul li a{
    transition: all 0.5s ease;
    pointer-events: all;
}
.barra_lateral.active ul li a:hover{
    transition: all 0.05s ease;
    pointer-events: all;
    font-size: 20px;
    width: 100%;
    color: #000;
    background: #ffffff;
}
body.active .barra_lateral.active ul li a:hover{
    transition: all 0.05s ease;
    pointer-events: all;
    font-size: 20px;
    width: 100%;
    color: #ffffff;
    background: #000;
}
.barra_lateral ul li a i{
    transition: all 0.5s ease;
    height: 50px;
    min-width: 60px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
    pointer-events: all;
}
.barra_lateral.active ul li a:hover i{
    text-shadow: -5px -5px rgba(46, 0, 111, 0.453);
}
.Contenido_Perfil{
    position: absolute;
    color: #ffffff;
    bottom: 0;
    left: 0;
    width: 100%;
}
.Perfil{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #1d1b31;
    transition: all 0.5s ease;
    flex-wrap: nowrap;
}
body.active .Perfil{
    transition: all 0.5s ease;
    border-top: solid 5px #1d1b31;
    background: #000;
    flex-wrap: nowrap;
}
.Detalles_Perfil{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    white-space: nowrap;
}
.barra_lateral.active .Detalles_Perfil{
    opacity: 1;
    pointer-events: none;
    transition: all 2s ease;
}
.Imagen_Perfil{
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 5px;
}
.Nombre_Trabajo{
    margin-left: auto;
    margin-right: auto;
}
.Nombre{
    font-size: 15px;
    font-weight: 400;
}
.Trabajo{
    font-size: 12px;
}
#toggle{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    top: 10px;
    left: 5px;
    display: block;
    width: 65px;
    height: 30px;
    background: #ffffff;
    cursor: pointer;
}
#toggle.active{
    background: #585858;
}
#toggle.active .Indicador{
    left: 35px;
    background: linear-gradient(#2E64FE,#A4A4A4);
}
.Indicador{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: linear-gradient(#FFFF00,#ffaf01);
    transform: scale(0.8);
    border-radius: 15px;
}
/*-------Código del Contenido---------*/
.Contenido{
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0%;
    z-index: -1;
    transition: all 0.5s ease;
}
.Contenido.active{
    width: 90%;
}
.Logo_Imagen{
    position: fixed;
    width: 100%;
    height: auto;
    right: 0;
    z-index: 10;
    border-bottom: solid 5px #1d1b31;
    background: #fff;
    transition: all 0.5s ease;
}
body.active .Logo_Imagen{
    transition: all 0.5s ease;
    background: #1f1f1f;
}
.Logo_Imagen img{
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition: all 0.5s ease;
}
body.active .Logo_Imagen img{
    transition: all 0.5s ease;
    background: #ffffff82;
}
.contenedor1{
    text-align: center;
    top: 60px;
    position: relative;
    width: auto;
    height: auto;
    margin-left: 180px;
    margin-top: 30px;
    margin-right: 150px;
    transition: all 0.5s ease;
    border-bottom: solid 2.5px #1d1b31;
    background: #ffffff85;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.contenedor1 h1{
    color: #000;
    margin: 10px;
}
body.active .contenedor1 h1{
    transition: all 0.5s ease;
    color: #fff;
}
body.active .contenedor1{
    background: #ffffff85;
}
.contenedor1.active{
    transition: all 0.5s ease;
    margin-left: 180px;
    display: flex;
}
.presentacion{
    margin: 20px;
    transition: all 0.5s ease;
}
body.active .presentacion{
    transition: all 0.5s ease;
    color: #ffffff;
}
/*---------------Tarjetas de Presentacion----------------*/
.tarjetas{
    position: relative;
    width: 225px;
    height: 325px;
    background: linear-gradient(#414141, #414141 30%, #1d1b31 30%,#1d1b31);
    margin: 20px;
    overflow: hidden;
    border: solid 5px #000;
    transition: all 1.5s ease;
}
.tarjetas:hover{
    background: linear-gradient(#41414133, #41414133 30%, #1d1b31 30%,#1d1b31);
    transition: all 1.5s ease;
}
.caja-imagen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform-origin: top;
}
.tarjetas:hover .caja-imagen{
    transform: translateY(5px) scale(0.5);
    width: 100%;
}
.caja-imagen img{
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    object-fit:contain;
    margin: 5px;
}
.tarjetas .tarjeta-contenido{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
}
.tarjetas .tarjeta-contenido .detalles-tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 5px;
}
.tarjetas .tarjeta-contenido .detalles-tarjeta h2{
    color: #fff;
    font-weight: 400;
    font-size: 1.1em;
    opacity: 0;
    transition: 0.5s;
}
.tarjetas .tarjeta-contenido .detalles-tarjeta h2 span{
    font-size: 0.7em;
    font-weight: 300;
    color: #8c8c8c;
    opacity: 0;
    transition: 0.5s;
}
.tarjetas:hover .tarjeta-contenido .detalles-tarjeta h2, .tarjetas:hover .tarjeta-contenido .detalles-tarjeta h2 span{
    opacity: 1;
    transition: 0.5s;
}